In [1]:
import pandas as pd

df = pd.read_csv("data/processed_data.csv")
df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,65a8a691c4d77487a439d6f44c219a39,2022-04-17,2022-04-21,LGA,DFW,UA3NA0BQ,PT5H45M,0,True,False,...,1650551340||1650563100,2022-04-21T10:29:00.000-04:00||2022-04-21T12:4...,ATL||DFW,LGA||ATL,Delta||Delta,DL||DL,Airbus A321||Airbus A321,8940||8520,762||725,coach||coach
1,1ad3c9a84f803cc98028ba8c67f35941,2022-04-18,2022-04-24,ATL,LGA,H3AHZNN1,PT2H22M,0,False,False,...,1650853920,2022-04-24T22:32:00.000-04:00,LGA,ATL,American Airlines,AA,Embraer 170,8520,762,coach
2,510f3a1255b9843a8eae48032b191faf,2022-04-17,2022-04-22,OAK,LAX,YH0OASMR,PT7H11M,0,False,False,...,1650678600||1650697140,2022-04-22T18:50:00.000-07:00||2022-04-22T23:5...,SEA||ONT,OAK||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Embraer 175||Airbus A320,7320||8940,672||956,coach||coach
3,ca0fb1ee992f752bbfdcd03a8b3e8ed0,2022-04-17,2022-05-18,LGA,SFO,MAUTA5MC,PT10H22M,0,False,False,...,1652914020||1652941920,2022-05-18T18:47:00.000-04:00||2022-05-18T23:3...,ATL||SFO,LGA||ATL,Delta||Delta,DL||DL,Airbus A321||Boeing 757-300,9420||18600,762||2135,coach||coach
4,5f7a29384cea410317ca308d2e065059,2022-04-17,2022-05-06,SFO,BOS,E0AJZNN1,PT8H29M,1,False,False,...,1651919400||1651929660,2022-05-07T06:30:00.000-04:00||2022-05-07T09:2...,JFK||BOS,SFO||JFK,JetBlue Airways||JetBlue Airways,B6||B6,Airbus A319-321||AIRBUS INDUSTRIE A321 SHARKLETS,20280||4560,2566||185,coach||coach

In [2]:
# Check dimensions
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

# Overview of column types and missing values
df.info()

Rows: 4106938, Columns: 27
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4106938 entries, 0 to 4106937
Data columns (total 27 columns):
 #   Column                             Dtype
---  ------                             -----
 0   legId                              object
 1   searchDate                         object
 2   flightDate                         object
 3   startingAirport                    object
 4   destinationAirport                 object
 5   fareBasisCode                      object
 6   travelDuration                     object
 7   elapsedDays                        int64
 8   isBasicEconomy                     bool
 9   isRefundable                       bool
 10  isNonStop                          bool
 11  baseFare                           float64
 12  totalFare                          float64
 13  seatsRemaining                     int64
 14  totalTravelDistance                float64
 15  segmentsDepartureTimeEpochSeconds  object
 16  segmentsDepartureTimeRaw           object
 17  segmentsArrivalTimeEpochSeconds    object
 18  segmentsArrivalTimeRaw             object
 19  segmentsArrivalAirportCode         object
 20  segmentsDepartureAirportCode       object
 21  segmentsAirlineName                object
 22  segmentsAirlineCode                object
 23  segmentsEquipmentDescription       object
 24  segmentsDurationInSeconds          object
 25  segmentsDistance                   object
 26  segmentsCabinCode                  object
dtypes: bool(3), float64(3), int64(2), object(19)
memory usage: 763.8+ MB

In [3]:
df.describe()

,elapsedDays,baseFare,totalFare,seatsRemaining,totalTravelDistance
count,4.106938e+06,4.106938e+06,4.106938e+06,4.106938e+06,3.802769e+06
mean,1.498058e-01,2.926578e+02,3.403708e+02,5.977556e+00,1.609518e+03
std,3.569055e-01,1.833544e+02,1.962103e+02,2.879681e+00,8.572473e+02
min,0.000000e+00,1.000000e-02,1.959000e+01,0.000000e+00,8.900000e+01
25%,0.000000e+00,1.590000e+02,1.971000e+02,4.000000e+00,8.760000e+02
50%,0.000000e+00,2.604700e+02,3.051000e+02,7.000000e+00,1.468000e+03
75%,0.000000e+00,3.981400e+02,4.517000e+02,9.000000e+00,2.415000e+03
max,2.000000e+00,7.344190e+03,7.918600e+03,1.000000e+01,7.252000e+03

In [4]:
df.isnull().sum()

legId                                     0
searchDate                                0
flightDate                                0
startingAirport                           0
destinationAirport                        0
fareBasisCode                             0
travelDuration                            0
elapsedDays                               0
isBasicEconomy                            0
isRefundable                              0
isNonStop                                 0
baseFare                                  0
totalFare                                 0
seatsRemaining                            0
totalTravelDistance                  304169
segmentsDepartureTimeEpochSeconds         0
segmentsDepartureTimeRaw                  0
segmentsArrivalTimeEpochSeconds           0
segmentsArrivalTimeRaw                    0
segmentsArrivalAirportCode                0
segmentsDepartureAirportCode              0
segmentsAirlineName                       0
segmentsAirlineCode                       0
segmentsEquipmentDescription          77971
segmentsDurationInSeconds                 0
segmentsDistance                      42735
segmentsCabinCode                         0
dtype: int64

In [5]:
df.nunique().sort_values()

isNonStop                                  2
isRefundable                               2
isBasicEconomy                             2
elapsedDays                                3
seatsRemaining                            11
startingAirport                           16
destinationAirport                        16
segmentsCabinCode                         47
segmentsAirlineName                      130
segmentsAirlineCode                      130
searchDate                               171
flightDate                               217
travelDuration                          1740
totalTravelDistance                     3046
segmentsDepartureAirportCode            6748
segmentsArrivalAirportCode              6884
segmentsEquipmentDescription            7600
fareBasisCode                          14994
segmentsDistance                       15832
baseFare                               17564
totalFare                              30925
segmentsDurationInSeconds             133136
segmentsDepartureTimeEpochSeconds    1697154
segmentsDepartureTimeRaw             1823369
segmentsArrivalTimeEpochSeconds      1878362
segmentsArrivalTimeRaw               1977157
legId                                2221274
dtype: int64

In [8]:
# Most common origin airports or cities
df['startingAirport'].value_counts().head(10)

startingAirport
LAX    403999
LGA    296874
BOS    294053
SFO    285222
DFW    283872
ORD    275438
CLT    274320
ATL    264420
MIA    246314
PHL    236019
Name: count, dtype: int64

In [9]:
# Most common destination airports or cities
df['destinationAirport'].value_counts().head(10)

destinationAirport
LAX    399790
LGA    304568
DFW    297912
BOS    290466
ORD    286183
SFO    279683
CLT    269909
ATL    260857
MIA    254973
PHL    235325
Name: count, dtype: int64